p::first-letter {
  color:#ec6834;
  font-size: 25px;
}

.text-center {
  text-align: center;
}

.text-lead {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-title {
  font-size: 25px;
  padding-top: 20px;
}

.text-small {
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 25px;
  padding: 20px;
}

.wrapper {
  color: rgb(255, 255, 255);
  font-family: "Сomic Sans MS", Cursive;
  margin: 20px;
}
